@import "../../styles/mixins.scss";

.create-book {
  height: 28rem;
  width: 25rem;
  max-width: 80%;
  @include absCenter();
  overflow: auto;

  &__form {
    @include flexCenter(column);
    padding: 1.6rem;
  }

  &__cta {
    width: 60%;
    max-width: 20rem;
    margin-top: 1.6rem;
  }
}
